body{
    margin:0;
    background-color: #A9B2FF;
    font-family: "bookmania", serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    overflow:hidden;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
        display: none;
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    filter: drop-shadow(0.3vw 0.3vw 0.3vw rgba(0, 0, 0, 0.5));
}

.container_2{
    position: relative;
    width: 100%; /* 반응형 너비 */
    max-width: 1400px;/* 최대 너비 */
    height: auto; /* 자동 높이 */
}

.background_img{    
    width:100%;
    height: auto;
}

#buddylist{
    position: absolute;
    margin: 0;
    top: 28.5%; /* 아이콘 위치 조정 */
    left: 3.2%;
    background-color: #43A1C5;
    width:90.8%;
    height: 63.1%;
    overflow-y: auto; /* 수직 스크롤 활성화 */
    cursor: ns-resize;
}
#buddyoverflow{
    width: 100%;
    height: auto;
}


#buddies{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

#buddies_m{
    width: 100%;
    height: auto;
    margin: 0;
}

#buddylist_m{
    display: none;
    position: absolute;
    margin: 0;
    top: 17%; /* 아이콘 위치 조정 */
    left: 5%;
    background-color: #43A1C5;
    width:82%;
    height: 73.4%;
    overflow-y: auto; /* 수직 스크롤 활성화 */
    cursor: ns-resize;
}
.background_mobile{    
    display: none;
    width:100%;
    height: auto;
}

@media (max-width:800px){
   #buddylist_m{
    display: block;
   }
   .background_mobile{
    display: block;
   }
   #buddylist{
    display: none;
   }
   .background_img{
    display: none;
   }
}