body{
    background-color: blue;
}

.box{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main_wrap{
    max-width: 80%;
    margin: auto;
}
.main_wrap_img{
    display: block;
    width:100%;
    max-width: 800px;
    height: auto;
    margin: auto;
}

.icon_img_1{
    display: block;
    position: relative;
    top: 10%;
    left: 10%;
}